:root {
    --primary-color: #5bce5e; /* Intense green */
    --secondary-color: #f0f0f0; /* Light gray */
    --background-dark: #000000; /* Darker background */
    --background-light: #202020; /* Dark gray background */
    --text-light: #f0f0f0; /* Light gray text */
    --text-dark: #ffffff; /* White text */
    --error-color: #ff6666; /* Lighter red background */
  }
  
  body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-light);
    line-height: 1.6;
    background-color: var(--background-dark);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Gradient background */
  }
  
  .container {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--background-light);
    margin: 10px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Soft shadow */
  }
  
  h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5rem; /* Large heading */
  }
  
  .right {
    text-align: right;
  }
  
  footer {
    text-align: center;
    color: var(--primary-color);
    margin-top: 20px;
    font-size: 1.2rem; /* Footer text size */
  }
  
  table,
  th,
  td {
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    color: var(--secondary-color);
    background-color: var(--background-light);
    box-shadow: 0 4px 8px rgb(0, 0, 0); /* Subtle shadow */
  }
  
  .plus-rep-button,
  .plus-weight-button,
  .minus-rep-button,
  .minus-weight-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    margin: 5px;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Button shadow */
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  }
  
  .plus-rep-button:hover,
  .plus-weight-button:hover,
  .minus-rep-button:hover,
  .minus-weight-button:hover {
    background-color: #ff8c00; /* Orange hover color */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
  }
  
  @media (max-width: 414px) {
    .plus-rep-button,
    .plus-weight-button,
    .minus-rep-button,
    .minus-weight-button {
      background-color: var(--background-light);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 10px;
      font-size: 1rem;
    }
  
    .rep-value,
    .weight-value {
      display: inline-block;
      color: var(--primary-color);
    }
  
    .set-cell {
      color: var(--primary-color);
    }
  }
  
  .rep-value,
  .weight-value {
    display: inline-block;
    color: var(--primary-color);
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .set-cell {
    color: var(--primary-color);
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .pause-value {
    color: var(--primary-color);
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .pauseButton {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 414px) {
    .pauseButton {
      padding: 15px 5px;
    }
  }
  


  

  
  #pauseButton, #doneButton {
    margin: 5px;
    padding: 10px 20px; /* Adds padding for better spacing */
    background-color: var(--primary-color); /* A bright pink color for the button */
    color: var(--background-dark); /* White text for contrast */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Larger font size */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Cursor changes to pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

#pauseButton:hover, #doneButton:hover {
  background-color: #00FFFF; /* Darker pink on hover */
 
  transform: scale(1.05); /* Slightly enlarges button on hover */
}

#pauseButton:active, #doneButton:active {
  transform: scale(0.95); /* Shrinks button slightly when pressed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduces shadow for pressed effect */
}

  /* Add this CSS to your existing stylesheet (style2.css) */
.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar-fill {
  height: 20px;
  background-color: #76c7c0;
  width: 0;
  transition: width 0.5s;
}

#workoutChoosen{
  font-size: 15px;
}

.card{
  background-color:#24243e;
  border: 3px solid #302b63;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d; /* White background */
  color: #007aff; /* iOS blue color */
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  margin:10px;
}

.back-button:active {
  background-color: #e0e0e5; /* Slightly darker on click */
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2); /* Pressed-in shadow */
  transform: translateY(0); /* Return to original position */
}

.back-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.3); /* Custom focus outline */
}



